/* Cursor */
html {
  cursor: none;
}

.cursor {
  position: fixed;
  left: -100px;
  top: 50%;
  z-index: 10000;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #363636;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  transition: all 0ms ease-out;
}

.cursor-follow {
  position: fixed;
  border: solid 1.5px #363636;
  left: -100px;
  top: 50%;
  z-index: 10000;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  transition: all 125ms ease-out;
}

/* Scrollbar */
::-webkit-scrollbar {
  background: transparent;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #606060;
  border-radius: 100px;
}
